@import "tailwindcss";

@theme {
  --color-ieee-blue: #00629B;
  --color-ieee-dark: #002855;
  --color-wie-purple: #781F82;
  --color-wie-light: #F3E8F5;
}

/* Optional: Smooth scrolling for the whole site */
html {
  scroll-behavior: smooth;
}